@import './variables';


@mixin flex($hori: flex-start, $vert: stretch) {
	display: flex;
	justify-content: $hori;
	align-items: $vert;
}

@mixin flexCol {
	flex-direction: column;
}

@mixin flexNW {
	flex-wrap: nowrap;
}

@mixin desktop {
	@media screen and (max-width: $width-desktop) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: $width-laptop) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: $width-tablet) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: $width-mobile) {
		@content;
	}
}