@import './variables';

@mixin layer($position, $top, $right, $bottom, $left) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin center($idx:1) {
	z-index: $idx;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin shadow($hori, $vert, $blur, $alpha) {
	box-shadow: $hori $vert $blur rgba(0,0,0, $alpha);
}

@mixin bgDark($opacity) {
	background-color: rgba(0, 0, 0, $opacity);
}

@mixin bgLight($opacity) {
	background-color: rgba(255, 255, 255, $opacity);
}

@mixin flex($hori: flex-start, $vert: stretch) {
	display: flex;
	justify-content: $hori;
	align-items: $vert;
}

@mixin flexCol {
	flex-direction: column;
}

@mixin flexNW {
	flex-wrap: nowrap;
}

@mixin desktop {
	@media screen and (max-width: $width-desktop) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: $width-laptop) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: $width-tablet) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: $width-mobile) {
		@content;
	}
}