.join-wrapper {
  max-width: 700px;
}

.join-wrapper .join-wrap {
  border: 2px solid #eaeaea;
  border-radius: 8px;
  padding: 2em 3em;
}

.join-wrapper .join-wrap .list {
  padding: 0.5em 0 .25em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.join-wrapper .join-wrap .list:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.join-wrapper .join-wrap .list:not(:last-child) input {
  max-width: 300px;
}

.join-wrapper .join-wrap .list .title {
  padding: 0.25em 0;
  width: 120px;
  flex-shrink: 0;
  border-right: 3px solid #2d7218;
  margin-right: 1.5em;
}

.join-wrapper .join-wrap .list .content {
  flex-grow: 1;
}

.join-wrapper .join-wrap .list .content .comment {
  font-size: 0.875em;
  padding: 0.25em;
}

.join-wrapper .join-wrap .list .content .comment.danger {
  color: red;
}

.join-wrapper .join-wrap .list .content .comment.active {
  color: #0062ff;
}

.login-wrapper {
  max-width: 500px;
}

.login-wrapper .login-wrap {
  border: 2px solid #eaeaea;
  border-radius: 8px;
  padding: 2em 3em;
}

.login-wrapper .login-wrap li {
  padding: 0.5em 0 .25em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-wrapper .login-wrap li .title {
  padding: 0.25em 0;
  width: 90px;
  flex-shrink: 0;
  border-right: 3px solid #2d7218;
  margin-right: 1.5em;
}
