.list-wrapper .table.tb-list thead th {
  color: #2c3238;
  background-color: #faf1e8;
  border-color: #dee2e6;
}

.list-wrapper .table.tb-list tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.015);
}

.list-wrapper .table.tb-list tbody tr:last-child td {
  border-bottom: 1px solid #dee2e6;
}

.create-wrapper .list-wrapper {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding: 2em 0;
}

.create-wrapper .list-wrapper .list-wrap {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.create-wrapper .list-wrapper .list-wrap .title {
  width: 15%;
  line-height: 40px;
  height: 40px;
  min-width: 150px;
  border-right: 3px solid #2d7218;
}

.create-wrapper .list-wrapper .list-wrap .list {
  width: 83%;
}

.create-wrapper .list-wrapper .list-wrap:nth-child(3) .list {
  padding-top: 0.325em;
}

.create-wrapper .list-wrapper .list-wrap:nth-child(4) {
  padding: 2em 0;
}

.create-wrapper {
  font-size: 1em;
}
