.list-wrapper .table.tb-list thead th {
  color: #2c3238;
  background-color: #faf1e8;
  border-color: #dee2e6;
}

.list-wrapper .table.tb-list thead th:nth-child(1) {
  width: 8%;
  min-width: 80px;
}

.list-wrapper .table.tb-list thead th:nth-child(3) {
  width: 15%;
  min-width: 120px;
}

.list-wrapper .table.tb-list thead th:nth-child(4) {
  width: 5%;
  min-width: 50px;
}

.list-wrapper .table.tb-list thead th:nth-child(5) {
  width: 10%;
  min-width: 120px;
}

.list-wrapper .table.tb-list thead th:nth-child(6) {
  width: 8%;
  min-width: 80px;
}

@media screen and (max-width: 767px) {
  .list-wrapper .table.tb-list thead th:nth-child(4) {
    display: none;
  }
  .list-wrapper .table.tb-list thead th:nth-child(5) {
    display: none;
  }
  .list-wrapper .table.tb-list thead th:nth-child(6) {
    display: none;
  }
}

.list-wrapper .table.tb-list tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.015);
}

.list-wrapper .table.tb-list tbody tr:last-child td {
  border-bottom: 1px solid #dee2e6;
}

.list-wrapper .table.tb-list tbody tr td {
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .list-wrapper .table.tb-list tbody tr td:nth-child(4) {
    display: none;
  }
  .list-wrapper .table.tb-list tbody tr td:nth-child(5) {
    display: none;
  }
  .list-wrapper .table.tb-list tbody tr td:nth-child(6) {
    display: none;
  }
}

.list-wrapper .table.tb-list tbody tr td img.icon {
  width: 30px;
}

.create-wrapper .list-wrapper {
  border-top: 2px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  padding-top: 2em;
  border-bottom: none;
}

.create-wrapper .list-wrapper .list-wrap {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.create-wrapper .list-wrapper .list-wrap .title {
  width: 15%;
  line-height: 40px;
  height: 40px;
  min-width: 150px;
  border-right: 3px solid #2d7218;
}

@media screen and (max-width: 575px) {
  .create-wrapper .list-wrapper .list-wrap .title {
    min-width: 80px;
  }
}

.create-wrapper .list-wrapper .list-wrap .list {
  width: 83%;
  line-height: 1.25;
}

@media screen and (max-width: 575px) {
  .create-wrapper .list-wrapper .list-wrap .list {
    padding-left: 20px;
  }
}

.create-wrapper .list-wrapper .list-wrap:nth-child(3) .list {
  padding-top: 0.325em;
}

.create-wrapper .list-wrapper .list-wrap:nth-child(4) {
  padding-top: 2em;
}

.view-wrapper .list-wrap {
  border-top: 1px solid #eaeaea;
}

.view-wrapper .list-wrap .list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: 1px solid #eaeaea;
}

.view-wrapper .list-wrap .list .title {
  width: 120px;
  padding: 1em;
  background-color: #f1f1f1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.view-wrapper .list-wrap .list .content {
  padding: 1em;
}

.view-wrapper .list-wrap .list .content .thumb {
  max-width: 80px;
  max-height: 80px;
  margin-right: 1em;
  cursor: pointer;
}

.view-wrapper .list-wrap .list:last-child {
  display: block;
  padding: 1em;
}

.view-wrapper .modal-wrapper {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.view-wrapper .modal-wrapper .bt-close {
  width: 50px;
  height: 50px;
  background-color: #940a0a;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}

.view-wrapper .modal-wrapper .modal-wrap {
  max-width: 80vh;
  max-height: 80vh;
}

.view-wrapper .modal-wrapper .modal-wrap img {
  max-width: 100%;
  max-height: 100%;
}

.view-wrapper .modal-wrapper.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
