@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500&display=swap");
html, body {
  font-family: "Noto Sans KR", sans-serif;
}

.wrapper {
  max-width: 1180px;
  margin: auto;
}

@media screen and (max-width: 1199px) {
  .wrapper {
    width: 96%;
  }
}

a:not(.btn):link, a:not(.btn):visited, a:not(.btn):active, a:not(.btn):hover {
  color: inherit;
  text-decoration: none;
}

.thin {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

.xs {
  font-size: 0.75em;
}

.sm {
  font-size: 0.875em;
}

.md {
  font-size: 1em;
}

.lg {
  font-size: 1.125em;
}

.xl {
  font-size: 1.25em;
}

.pagination {
  margin: 3em 0 2em 0;
}

.pagination .page-item.active .page-link {
  background-color: #fc8739;
  border-color: #fc8739;
}

header .top-wrapper {
  font-size: 0.75em;
  background-color: #333;
  color: #f1f1f1;
  padding-right: 2em;
}

@media screen and (max-width: 767px) {
  header .top-wrapper {
    padding-right: 0;
  }
}

header .top-wrapper .wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .top-wrapper .wrapper a {
  padding: 0.5em 1em;
}

@media screen and (max-width: 767px) {
  header .top-wrapper .wrapper a:last-child {
    padding-right: 0;
  }
}

header .header-wrapper {
  border-bottom: 1px solid #f1f1f1;
}

@media screen and (max-width: 767px) {
  header .header-wrapper {
    padding: 0.5em 0;
  }
}

header .header-wrapper .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-wrapper .wrapper .logo-wrapper a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .header-wrapper .wrapper .logo-wrapper a .img-wrap {
  width: 50px;
  margin-right: 0.5em;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #f1f1f1;
}

header .header-wrapper .wrapper .logo-wrapper a span {
  font-size: 0.75em;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #0f203f;
}

header .header-wrapper .wrapper .navi-wrapper {
  display: flex;
  align-items: center;
}

header .header-wrapper .wrapper .navi-wrapper .navi {
  padding: 1.75em;
}

header .header-wrapper .wrapper .navi-wrapper .navi:hover {
  background-color: #f1f1f1;
  color: #0f203f;
}

@media screen and (max-width: 767px) {
  header .header-wrapper .wrapper .navi-wrapper {
    display: none;
  }
}

header .header-wrapper .wrapper .mobile-wrapper {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  header .header-wrapper .wrapper .mobile-wrapper {
    display: block;
  }
}

header .mobile-sub {
  position: absolute;
  width: 100%;
  display: none;
}

header .mobile-sub .sub {
  color: #f1f1f1;
  background-color: #555;
  padding: 1.5em;
  border-bottom: 1px solid #999;
}

.title-wrapper {
  text-align: center;
  margin: 2em 0;
}

.title-wrapper h1 {
  font-size: 1.5em;
}
