ul.pager-wrapper.pagination.justify-content-center
	li.page-item
		a.page-link(href=`/board?page=`)
			i.fa.fa-step-backward
	li.page-item
		a.page-link(href=`/board?page=`)
			i.fa.fa-angle-double-left
	li.page-item
		a.page-link(href=`/board?page=`)
			i.fa.fa-angle-left
	li.page-item
		a.page-link(href=`/board?page=`) 1
	li.page-item
		a.page-link(href=`/board?page=`) 2
	li.page-item
		a.page-link(href=`/board?page=`) 3
	li.page-item
		a.page-link(href=`/board?page=`)
			i.fa.fa-angle-right
	li.page-item
		a.page-link(href=`/board?page=`)
			i.fa.fa-angle-double-right
	li.page-item
		a.page-link(href=`/board?page=`)
			i.fa.fa-step-forward