@import '../mixin';

.create-wrapper {
	.list-wrapper {
		border-top: 2px solid $colorWhite;
		border-bottom: 2px solid $colorWhite;
		padding: 2em 0;
		.list-wrap {
			margin: 0.5em 0;
			display: flex;
			justify-content: space-between;
			.title {width: 15%; min-width: 150px; border-right: 3px solid $colorGreen;}
			.list {width: 83%;}
		}
	}
}