@import '../mixin';

.create-wrapper {
	.list-wrapper {
		border-top: 2px solid $colorWhite;
		border-bottom: 2px solid $colorWhite;
		padding: 2em 0;
		.list-wrap {
			margin: 0.5em 0;
			@include flex($SB);
			.title {width: 15%; line-height: 40px; height: 40px; min-width: 150px; border-right: 3px solid $colorGreen;}
			.list {width: 83%;}
			&:nth-child(3) {
				.list {padding-top: 0.325em;}
			}
			&:nth-child(4) {padding: 2em 0;}
		}
	}
}
