@import '../mixin';

.view-wrapper {
	.tb-view {
		tr { 
			td {
				vertical-align: middle;
				padding: 1em;
				&.title {
					width: 10%;
					max-width: 100px;
					background-color: $colorLighter;
				}
				&.list {
					
				}
			}
		}
	}
}